node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
yarn-error.log
/coverage
# macOS
.DS_Store

# change to .env* when we start using staging/prod
.env.development